.container {
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_row_container {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 24px;
  & .message_content_container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
  }
}

.text_center {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.label {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.sub_label {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
