.price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
}

.credit {
  color: #2b8a3e;
}

.debit {
  color: #c92a2a;
}

.superscript-text {
  vertical-align: super;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  text-decoration: line-through;
}
