.container {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar_container {
  background-color: #ebfbee;
  width: 104px;
  height: 104px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.sub_title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.button {
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: capitalize;
}
